.principal-container {
    background-image: url('./img/nilo-1.jpeg');
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.instagram{
    display: flex;
    justify-content: flex-start;
}

.container-texto{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px ;
    background: linear-gradient(rgb(242, 242, 245), rgb(207, 170, 127));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Modifique el container de productos para hacer scroll */
.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  /* Distribuye tarjetas en columnas */
    gap: 30px;
    width: 100%;
    max-width: 1200px;  /* Ajusta según el diseño */
    max-height: 500px;  /* Altura máxima con scroll */
    overflow-y: scroll;  /* Habilitar scroll vertical */
    padding: 20px;
    background: transparent;  /* Fondo blanco con transparencia */
    border-radius: 8px;
    
    /* Oculte la barra de scroll en navegadores webkit (Chrome, Safari, Edge) */
    scrollbar-width: none;  /* Ocultar scrollbar en Firefox */
    -ms-overflow-style: none;  /* Ocultar scrollbar en Internet Explorer/Edge */

}

.container-card{
    margin-top: 80px; /* Ajusta el margen superior para que las cards no se escondan detrás del navbar */
    text-align: center;
    flex: 1;
    padding: 40px; /* Añade padding para dar espacio en los laterales */
    display: flex;    
}

/* Estilo de las cards */
.card {
    width: 100%; /* Fija el ancho de las cards */
    margin: 15px; /* Espacio entre las cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
    border-radius: 8px; /* Bordes redondeados */
    background-color: white; /* Fondo blanco de las cards */
    flex: 1 1 auto; /* Permite que las cards se redimensionen de forma responsive */
    display: flex;
}

/* Estilo de las imágenes de las cards */
.card-img-top {
    height: 50px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
    width: 80%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    border-top-left-radius: 8px; /* Bordes redondeados en la parte superior de la imagen */
    border-top-right-radius: 8px; /* Bordes redondeados en la parte superior de la imagen */
}


.container::-webkit-scrollbar {
    display: none;  /* Ocultar scrollbar en navegadores basados en WebKit */
}


.card:hover {
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}


.card .card-image img {
    width: 100%;               /* Asegura que la imagen ocupe el ancho del contenedor */
    height: 150px;              /* Ajusta la altura según lo necesario */
    object-fit: cover;          /* Mantiene el aspecto de la imagen, recorta si es necesario */
    border-radius: 8px 8px 0 0; /* Aplica bordes redondeados solo a la parte superior de la imagen */
}

.card .card-name {
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    display: block;
    width: 1fr;
}

.card .card-price {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 1fr;
}

.card .card-button {
    text-align: center;
    display: block;
}

.button-add {
    border-radius: 10px;
    outline: 1px solid blueviolet !important;
}

.card .card-button button {
    margin-top: 10px;
    font-size: 20px !important;
}

.card .card-button .disabled {
    background-color: lightgray !important;
    color: whitesmoke !important;
}

.card .card-button button:active {
    background: darkmagenta !important;
    color: white !important;
}

.sin-stock {
    filter: grayscale(100%) opacity(40%); 
}

.card-error {
    box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.147);
    border: 1px solid darkred;
    border-radius: 6px;
    padding: 40px;
    color: red;
}

.ocultar {
    display: none;
}

.form-check {
    background-color: aqua;
    margin: 10px;
}

.whatsapp-button {
    position: fixed; /* Fija la posición en la pantalla */
    bottom: 20px; /* Separa el botón 20px del borde inferior */
    right: 25px; /* Separa el botón 20px del borde derecho */
    background-color: #25D366; /* Color de fondo verde de WhatsApp */
    color: white; /* Color del ícono */
    border: none; /* Elimina el borde predeterminado del botón */
    border-radius: 50%; /* Hace que el botón sea circular */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    display: flex; /* Utiliza flexbox para centrar el icono */
    align-items: center; /* Centra verticalmente el icono dentro del botón */
    justify-content: center; /* Centra horizontalmente el icono dentro del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Añade una transición suave para el cambio de color */
}

.whatsapp-button:hover {
    background-color: #1e9e52; /* Cambia el color de fondo cuando el usuario pasa el mouse por encima */
}

.whatsapp-button i {
    font-size: 35px; /* Ajusta el tamaño del ícono */
}
 

.footer {
    display: grid;
    place-items: center;
    padding: 50px;
    background-color: rgb(151, 151, 139);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.search-bar {
    width: 50%;
    margin: 15px 0;
}
